<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="lengxx" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
     <link rel="stylesheet" href="/media/unity/css/style.css">
    <link rel="stylesheet" href="/media/unity/css/highlight.css">
    <script type="text/javascript" src="/media/unity/js/jquery-1.7.1.min.js"></script>
  </head>
  <body>
<div id="top">
<div id="top-left">
				<div id="control-buttons">
					{{ page.title }} | {{ site.author }}
				</div>
</div>
<div id="top-right"></div>
</div>
   
<div id="container">
<div id="nav">
        <span><a title="home page" href="{{ site.url }}/">home</a></span>
	<span><a title="老天下贰相关" href="{{ site.url }}/tx2/">老天下贰相关</a></span>
        <span><a title="about" href="{{ site.url }}/about/">about</a></span>
        <span><a title="categories" href="{{ site.url }}/categories/">categories</a></span>
        <span><a title="archive" href="{{ site.url }}/archive.html">archive</a></span>
        <span><a title="tags" href="{{ site.url }}/tags/">tags</a></span>
        <span><a title="links" href="{{ site.url }}/links/">links</a></span>
        <span><a title="subscribe by RSS" href="{{ site.url }}/feed/">subscribe</a></span>
        </div>

      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>

	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12755447-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
